<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
</head>
<body>
<h1>Article List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Body</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}"></td>
        <td th:text="${article.author}"></td>
        <td th:text="${article.title}"></td>
        <td th:text="${article.body}"></td>
        <td>
            <a th:href="@{'/article/' + ${article.id}}">View</a>
            <a th:href="@{'/article/' + ${article.id} + '/edit'}">Edit</a>
            <a th:href="@{'/article/' + ${article.id} + '/delete'}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
