<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入成功</title>
    <div class="container-fluid text-center">
        <h1>登入成功<h1>
            <h2><a class="h2" th:href="@{/users}">返回</a></h2>
<!--        <button onclick="cancelForm()" type="button" class="btn btn-secondary m-2">返回</button>-->
    </div>

</head>
<body>
<script type="text/javascript">
    function cancelForm() {
        window.location="[[@{/user_login}]]";
    }
</script>
</body>
</html>